@import url("@/fonts/style.css");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mazzard";
}
body {
    background: #0f1117 !important;
    max-height: 100vh;
    overflow-y: hidden !important;
}
.gradient {
    background-image: url(../assets/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.filter {
    backdrop-filter: blur(5px);
}

*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}